
<center>
  <div class="login-section pt-3">
    <div class="card text-center pt-5" style="width: 23rem;">
      <%= image_tag 'instaflan_logo.png', class: "card-img-top" %>
      <p class="w-80 fs-7 fw-bold text-secondary "> Sign up to share flans with friends today! </p>
              <a href="#" class="d-lg-block mt-4 text-decoration-none fw-bold bg-primary text-white rounded w-80 align-self-center p-1">
        <%= image_tag("facebook.png", class: "facebook") %>
        Log in with Facebook
      </a>

      <div class="d-flex align-items-center mt-4">
          <div class= "line"> </div>
          <h2 class="line-text">OR</h2>
          <div class= "line"> </div>
        </div>

      <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="mb-3 mt-4">
            <%= f.email_field :email, class: "form-control", placeholder: "Phone Number or E-Mail"  %>
             </div>
             <div class="mb-3 mt-4">
            <%= f.text_field :full_name, class: "form-control", placeholder: "Full Name"  %>
             </div>
             <div class="mb-3 mt-4">
            <%= f.text_field :username, class: "form-control", placeholder: "Username"  %>
             </div>
          <div class="mb-3">
          <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          </div>
          <div class="mb-3">
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation" %>
          </div>
          <%= f.submit "Sign up for Instaflan", class: "btn btn-dark w-100" %>
          <% end %>



  <% if notice %>
   <p class="notice"><%= notice %></p>
  <% elsif alert %>
     <p class="alert"><%= alert %></p>
     <% end %>


      <a> <%= link_to "Forgot Password?", new_user_password_path, class: "fs-6 d-block my-4 text-decoration-none" %> </a>

      </div>
    </div>
    <div class="card text-center py-2 mt-3" style="width: 23rem;">
      <div class="card-text">
        Already have an account?
        <%= link_to "Sign In", new_user_session_path, class: "fs-6 d-block my-4 text-decoration-none" %>
      </div>
    </div>
  </div>
</center>