


<div class="my-3" id="<%= dom_id post %>">

  <div class="card" style="width: 26rem;">
    <div class="card-header bg-white">
      <div class="d-flex justify-content-between">
        <%= link_to post.user, class: "a-decoration-none" do %>
     <% if post.user.profile_pic.attached? %>
     <%= image_tag post.user.profile_pic, class: "img-thumbnail rounded", style: "width: 33%" %>
     <% else %>
     <%= image_tag 'flanatar.png', class: "img-thumbnail rounded", style: "width: 33%" %>
     <% end %>
     <% end %>
     <%= link_to post.user, class: "a-decoration-none" do %>
      <span class="fw-bold mx-2"> <%= post.user.username %> </span>
      <% end %>
      <br/> User # <%= post.user_id %> </div>

      <% if current_user == post.user %>
      <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle fs-6" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Options
  </button>
  <ul class="dropdown-menu">
    <li>
      <%= button_to 'Delete Post', post, method: :delete, class: "dropdown-item" %>
  </ul>
</div>
<% end %>
      </div>

  
  <div class="card-body">
    <div id="post<%= post.id %>_images" class="carousel slide">
  <div class="carousel-inner">
    <% post.images.each_with_index do |img, i| %>
    <div class="carousel-item <%= i==0 ? 'active' : '' %>" style="height: 25rem">
      <%= image_tag img, class: "d-block w-100", style: "max-height: 100%; object-fit: cover;" %>
    </div>
  <% end %>
  <button class="carousel-control-prev" type="button" data-bs-target="#post<%= post.id %>_images" data-bs-slide="prev">
    <span class="carousel-control-prev-icon bg-dark rounded" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#post<%= post.id %>_images" data-bs-slide="next">
    <span class="carousel-control-next-icon bg-dark rounded" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<%= render "posts/post_actions", post: post %>
    <p class="card-text"> <span class="fw-bold"><%= post.user.username %> </span> <%= post.caption %></p>

    <%= render "posts/post_comments", post: post %>

    <small> <%= time_ago_in_words(post.created_at) %> </small>
  </div>
  <div class="card-footer d-flex justify-content-between bg-white">
        <%= form_with url: comments_path, method: :post, data:{controller: "comments", action: "turbo:submit-end->comments#clear"} do |f| %>
        <%= f.hidden_field :post_id, value: post.id %>
        <%= f.text_area :comment_body, class: "w-75", placeholder: "Add a comment", style:"border:none" %>
        <%= f.submit "Post", class:"text primary fw-bold", style: "background:none;border:none" %> 
        <% end %>

  </div>
</div>
</div>
   </div>
</div>





</div>

